# Interface to enable traffic shaping on.
IFDEV="eth0"

# Define your "fair-share" rate and maximum uplink for Plex.
# Valid suffixes:
# kbit - kilobits/s;
# mbit - megabits/s;
# kbps - kilobytes/s;
# mbps - megabytes/s;
RATE="8mbit"
MAXRATE="8mbit"

# The rates above converted to bytes/s divided by this number should fall
# anywhere between 1500 and 60,000. It's used to evenly distribute surplus
# bandwith: http://www.docum.org/faq/cache/31.html
R2Q=50

# Your local IP block to exclude from traffic shaping. To disable traffic
# shaping exclusion (i.e., to enable it on your LAN as well) enter '127.0.0.1'
# as-is with no subnet modifier.
IPBLOCK="192.168.1.0/24"

# Port your plex server is listening on, defaults is 32400
PORT="32400"